 <nav class="space-x-6">
            <a href="{% url 'home' %}" class="text-gray-700 font-semibold hover:text-orange-500">Home
            <a href="{% url 'food' %}" class="text-gray-700 font-semibold hover:text-orange-500">Food
            <a href="{% url 'about' %}" class="text-gray-700 font-semibold hover:text-orange-500">About
            <a href="{% url 'help' %}" class="text-gray-700 font-semibold hover:text-orange-500">Help
            <a href="{% url 'login' %}" class="text-gray-700 font-semibold hover:text-orange-500">Login
            <a href="{% url 'signup' %}" class="text-gray-700 font-semibold hover:text-orange-500">signup
            </nav>